$font-base: 		"Open Sans", HelveticaNeue, Helvetica, Arial, sans-serif;
$page-width: 		920px;
$ease-cubic: 		cubic-bezier(.6,-.8,.6,1.6);
$during: 			0.3s;
$delay: 			0.2s;

$size-base: 		16px;
$size-normal: 		1rem;
$size-small: 		0.8rem;
$size-x-small: 		0.75rem;
$size-xx-small: 	0.6rem;
$size-large: 		1.2rem;
$size-x-large: 		1.5rem;
$size-xx-large: 	2rem;
$size-huge: 		2.5rem;
$size-x-huge: 		3rem;
$size-xx-huge: 		3.5rem;

$space-x-small: 	4px;
$space-small: 		8px;
$space-base: 		12px;
$space-large: 		16px;
$space-x-large: 	24px;

$color-gray-black: 	#263238;
$color-gray-dark: 	#455A64;
$color-gray-base: 	#607D8B;
$color-gray-light: 	#90A4AE;
$color-gray-white: 	#ECEFF1;

$color-green-black: #33691E;
$color-green-dark: 	#689F38;
$color-green-base: 	#8BC34A;
$color-green-light: #AED581;
$color-green-white: #F1F8E9;

$color-blue-black:	#0D47A1;
$color-blue-dark:	#1976D2;
$color-blue-base:	#2196F3;
$color-blue-light:	#64B5F6;
$color-blue-white:	#E3F2FD;

$color-red-black: 	#BF360C;
$color-red-dark: 	#E64A19;
$color-red-base: 	#FF5722;
$color-red-light: 	#FF8A65;
$color-red-white: 	#FBE9E7;

$color-bg-black: 	$color-blue-black;
$color-bg-dark:		$color-blue-dark;
$color-bg-base:		$color-blue-base;
$color-bg-light:	$color-blue-light;
$color-bg-white:	$color-blue-white;
//
$color-black:		$color-bg-black;
$color-dark:		$color-bg-dark;
$color-base:		$color-bg-base;
$color-light:		$color-bg-light;
$color-white:		$color-bg-white;

$color-txt-black:	$color-gray-black;
$color-txt-dark:	$color-gray-dark;
$color-txt-base:	$color-gray-base;
$color-txt-light:	$color-gray-light;
$color-txt-white:	$color-gray-white;

@mixin clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin size($w, $h: null) {
	width: $w;
	@if $h != null {
		height: $h;
	} @else {
		height: $w;
	}
}

@mixin background($path, $pos: center center) {
	background: url($path) $pos no-repeat;
}

@mixin bg($path, $w, $h, $pos: center center) {
	@include background($path, $pos);
	@include size($w, $h);
}

@mixin transition($ease: ease, $duration: 0.3s, $delay: 0s, $plus: null) {
	@if $plus != null {
		transition: all $ease $duration $delay, $plus;
	} @else {
		transition: all $ease $duration $delay;
	}
}

@mixin keyframes($name) {
	@keyframes #{$name} { @content };
}

@mixin animation($name, $duration: 1s, $ease: linear, $delay: 0s, $repeat: infinite, $plus: null) {
	@if $plus != null {
		animation: $name $duration $ease $delay $repeat, $plus;
	} @else {
		animation: $name $duration $ease $delay $repeat;
	}
}

@mixin pos-center($isVnH: null) {
	position: absolute;
	display: block;
	@if $isVnH != null {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	} @else {
		left: 0;
		right: 0;
		margin: auto;
	}
}

@mixin pos-hidden() {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}

@mixin arrow($direct: right, $self: true, $selector: null) {
	@if $self == true {
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -8px;
			left: calc(100% - 16px);
			border: 2px solid transparent;
			border-right-color: $color-gray-base;
			border-bottom-color: $color-gray-base;
			transform: rotate(45deg);
		}
	}
}

@mixin rem($p, $v, $scale: 1) {
	$p: $v + px;
	$p: (($v / $size-base) * $scale) * 1rem;
}

@mixin text-truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

$breakpoints: (
	smallS: 480px,
	smallT: 639px,
	smallF: 640px,
	mediumT: 1024px,
	mediumF: 1025px,
	default: 1200px,
	large: 1440px
);

@mixin screen($breakpoint, $query: min-width) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media ($query: #{map-get($breakpoints, $breakpoint)}) {
			@content;
		}
	}
	@else {
		@content;
	}
}

@mixin screen-x-small {
	@include screen(smallS, max-width) { @content; }
}

@mixin screen-small {
	@include screen(smallT, max-width) { @content; }
}

@mixin screen-medium {
	@include screen(smallF) { @content; }
}

@mixin screen-small-medium {
	@include screen(mediumT, max-width) { @content; }
}

@mixin screen-medium-only {
	@media (min-width: #{map-get($breakpoints, smallF)}) and (max-width: #{map-get($breakpoints, mediumT)}) { @content; }
}

@mixin screen-desktop {
	@include screen(mediumF) { @content; }
}

@mixin screen-large {
	@include screen(default) { @content; }
}

@mixin screen-wide {
	@include screen(large) { @content; }
}
