@import "variables";
@import "animations";

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	line-height: 1.4;
	color: $color-txt-base;
	width: 100%;
	font: $size-base $font-base;
	line-height: 1.5em;
	position: relative;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

a {
	color: $color-green-base;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

a:focus, button:focus, textarea:focus, input:focus {
	outline: none;
}

:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

textarea:focus, input:focus {
	outline: none;
}

input, textarea {
	font-family: $font-base;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: $font-base;
	margin: 0;
}

// global
@import "global/global";
@import "global/print";
// modules
@import "modules/page-header";
@import "modules/page-footer";
// pages
@import "pages/index";
// Added by 'gulp add module': site-map
@import "modules/site-map";