.block-site-map {
	position: fixed;
	bottom: 0;
	left: 0;

	.button-site-map {
		margin: 0;
		padding: 0;
		display: block;
		background: $color-gray-black;
		@include size(28px);

		&:hover {
			background: $color-gray-dark;
		}

		.icon {
			background: #fff;
			@include pos-center(true);
			@include size(18px, 2px);
			@include transition;

			&:before {
				content: '';
				position: absolute;
				bottom: 6px;
				left: 0;
				background: #fff;
				transform-origin: 0 50%;
				@include size(18px, 2px);
				@include transition($ease-cubic);
			}

			&:after {
				content: '';
				position: absolute;
				top: 6px;
				left: 0;
				background: #fff;
				transform-origin: 0 50%;
				@include size(18px, 2px);
				@include transition($ease-cubic);
			}
		}
	}

	.site-map {
		position: absolute;
		bottom: 28px;
		padding: 10px 0;
		width: 200px;
		max-height: 50vh;
		background: $color-gray-base;
		transform: translate(-100%, 0);
		box-shadow: 2px 0 8px rgba(#000, 0.3);
		overflow-x: hidden;
		overflow-y: auto;
		@include transition;

		.page {
			display: block;
			padding: 10px;
			color: #fff;
			text-transform: capitalize;

			&:hover, &.active {
				background: $color-gray-dark;
			}
		}
	}

	#siteMap {
		@include pos-hidden;

		&:checked {
			~.button-site-map {
				.icon {
					width: 0;

					&:before {
						transform: translate(-50%, 0) rotate(45deg);
					}

					&:after {
						transform: translate(-50%, 0) rotate(-45deg);
					}
				}
			}

			~.site-map {
				transform: translate(0, 0);
			}
		}
	}
}