//- body standard library
//- use: +body-std-libs
mixin body-std-libs
	= '\n\t\t'
	<!-- build:js #{assets.jspath}/modernizr.js-->
	+js-lib('/bower_components/modernizr/modernizr.js', true)
	// endbuild

	= '\n\t\t'
	<!-- build:js #{assets.jspath}/vendor.js-->
	// bower:js
	+js-lib('/bower_components/jquery/dist/jquery.min.js', true)
	// endbower
	// endbuild
	//- +js-lib('https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js', true)

	+js-lib('main')