include define
include modules

//- page dynamic variables
block globalVars

doctype html
html.no-js(lang=lang ? lang : 'en-EN')
	head
		//- head standard meta tags
		+head-std-meta

		//- others standard meta tags but can modify here, for dynamic project
		meta(name='description', content=meta && meta.desc ? meta.desc : 'Dar Studio site template - The fastest way to build a site with nodejs')
		meta(name='keywords', content=meta && meta.keys ? meta.keys : 'dar, studio, site, template, frontend, html')
		meta(name='author', content=meta && meta.author ? meta.author : 'HaiDang Vo, Dar-studio Team')
		meta(name='robots', content='index, follow')

		//- head dynamic title
		block headTitle

		//- head standard library
		// [begin: head standard library]
		+head-std-libs
		// [end: head standard library]

		//- head dynamic library
		// [begin: head dynamic library]
		block headLibs
		// [end: head dynamic library]
	body(class=pageThemes)
		//- page section goes here
		block bodyPage

		//- page standard library
		// [begin: page standard library]
		+body-std-libs
		// [end: page standard library]

		//- page dynamic library
		// [begin: page dynamic library]
		block bodyLibs
		// [end: page dynamic library]