//- use: +head-title(title:null/string)
mixin head-title(title)
	title= (title && title.length > 0 ? title : '[DS] Dar-studio Site Template')

//- use: +head-std-meta
mixin head-std-meta
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')

//- use: +css-lib(name:string, fullpath:null/bool)
mixin css-lib(name, fullpath)
	if fullpath
		link(rel='stylesheet', href=name)
	else
		- var defPath = (assets && assets.csspath ? assets.csspath : 'styles') + '/'
		= '\n\t\t'
		<!-- build:css #{defPath}#{name}.css-->
		link(rel='stylesheet', href=defPath + name + '.css')
		// endbuild

//- use: +js-lib(name:string, fullpath:null/bool)
mixin js-lib(name, fullpath)
	if fullpath
		script(src=name)
	else
		- var defPath = (assets && assets.jspath ? assets.jspath : 'scripts') + '/'
		= '\n\t\t'
		<!-- build:js #{defPath}#{name}.js-->
		script(src=defPath + name + '.js')
		// endbuild