//- head standard library
//- use: +head-std-libs
mixin head-std-libs
	= '\n\t\t'
	<!-- build:css #{assets.csspath}/vendor.css-->
	// bower:css
	+css-lib('bower_components/foundation-sites/dist/foundation.min.css', true)
	//- +css-lib('bower_components/bxslider-4/dist/jquery.bxslider.min.css', true)
	// endbower
	// endbuild
	//- +css-lib('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', true)

	+css-lib('normalize')
	+css-lib('main')