//- this file use to include all blocks
include body-std-libs
include head-std-libs
include ../modules/dar-logo
include ../modules/page-ajax-load
include ../modules/page-footer
include ../modules/page-header
include ../modules/page-preload
//- Added by 'gulp add module': site-map
include ../modules/site-map