extend default

//- page dynamic variables, this block can be override
block globalVars
	- var pageThemes = 'default-theme'
	block pageVars

//- page head dynamic title, this block can be override
block headTitle
	if headTitle
		headTitle
	else
		//- default page head title
		+head-title(page && page.title ? page.title : '')

//- page head dynamic library, this block can be override
block headLibs
	block cssLibs

//- page dynamic section, this is main section of each page
block bodyPage
	//- page header section, this block can be override
	// [begin: page header section]
	block pageHeader
		if pageHeader
			pageHeader
		else
			//- default page header section
			+page-header
	// [end: page header section]

	//- page preload, this block can be override
	// [begin: page preload]
	block pagePreload
		if pagePreload
			pagePreload
		else
			+page-preload
	// [end: page preload]

	//- page main section, this block can be override
	// [begin: page main section]
	#page-main
		block pageMain
	// [end: page main section]

	//- page footer section, this block can be override
	// [begin: page footer section]
	block pageFooter
		if pageFooter
			pageFooter
		else
			+page-footer
	// [end: page footer section]

	//- page dialog section, this block can be override
	// [begin: page dialog section]
	block pageDialog
	// [end: page dialog section]

	//- page site map section, this block can be override
	if sitemap && pages
		// [begin: page site map section]
		block siteMap
			if siteMap
				siteMap
			else
				+block-site-map
		// [end: page site map section]

//- page dynamic library, this block can be override
block bodyLibs
	block jsLibs