extend ../global/template

//- enable this block if need to change/dynamic variables for this page
block pageVars
	- var pageClass = 'clone'

//- enable this block if need to change/dynamic title for this page, [default is +head-title]
//- block headTitle

//- enable this block if need to include dynamic css for this page, [default is none]
//- block cssLibs

//- enable this block if need to change/dynamic header for this page, [default is +page-header]
//- block pageHeader

//- enable this block if need to change/dynamic preload for this page, [default is +page-preload]
//- block pagePreload

//- this block must be enable
block pageMain
	// [begin: page clone section]
	.page(class='page-' + pageClass)
		img(src='images/logo.png')
		p.
			This is Default of DSFE! This is #{pageClass} page!
		p.
			This page use #{framework} framwrok!
		p.
			This page has sitemap: #{sitemap}
	// [end: page clone section]

//- enable this block if need to change/dynamic footer for this page, [default is +page-footer]
//- block pageFooter

//- enable this block if need to change/dynamic dialog, [default is none]
//- block pageDialog

//- enable this block if need to change/dynamic sitemap this page, [default is +block-site-map]
block siteMap
	+block-site-map(pageClass)

//- enable this block if need to change/dynamic js for this page, [default is none]
block jsLibs
	+js-lib('pages/' + pageClass)