//- block dar logo
//- use: +block-dar-logo
mixin block-dar-logo
	.block-dar-logo(title='dar studio')
		svg#small-logo(width=190,height=190,style='background: #008027;')
			g#char-r
				path.t(d='M120,20 c60,0 60,65 0,65',fill='#{cBase}')
				path.b(d='M120,60 l0,60 l60,0', fill='#{cDark}')
			g#char-a
				path(d='M40,120 l60,-100 l0,100',fill='#{cWhite}')
				path(d='M100,20 l20,0 l0,100 l-20,0',fill='#{cBase}')
				path(d='M120,20 l0,100',stroke='#{cWhite}',stroke-width='2')
			g#char-d
				path.d(d='M10,20 c90,0 90,100 0,100',fill='#{cBase}')
				path.l(d='M10,20 c70,0 70,100 0,100',fill='#{cWhite}')
			g#studio
				path.s(d='M10,130 m20,10 c0,-10 -20,-10 -20,0 c0,10 20,10 20,20 c0,10 -20,10 -20,0',fill='none',stroke='#{cWhite}',stroke-width='2')
				path.t(d='M35,130 m0,4 l28,0 m-14,0 l0,36',fill='none',stroke='#{cWhite}',stroke-width='2')
				path.u(d='M70,132 l0,22 c0,20 26,20 26,0 l0,-22',fill='none',stroke='#{cWhite}',stroke-width='2')
				path.d(d='M108,130 l0,38 c30,0 30,-38 0,-38',fill='none',stroke='#{cWhite}',stroke-width='2')
				path.i(d='M140,130 l0,40',fill='none',stroke='#{cWhite}',stroke-width='2')
				path.o(d='M150,130 m30,18 c0,-20 -30,-20 -30,0 l0,5 c0,20 30,20 30,0 l0,-5',fill='none',stroke='#{cWhite}',stroke-width='2')
			g#bottom
				path(d='M10,180 l172,0',stroke='#{cWhite}',stroke-width='2')