//- module site-map
//- use: +block-site-map
mixin block-site-map(currentPage)
	.block-site-map
		input#siteMap(type='checkbox')
		label.button.button-site-map(for='siteMap')
			span.icon
		nav.site-map
			each page in pages
				a.page(href=page.url, class=(currentPage && currentPage == page.name) ? 'active' : '')= page.name